@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

.chat {
    /*margin: 20px;*/
    display: flex;
    flex-direction: column;
    flex: 0.72;
    width: 72%;
    /*max-width: 75%;*/
}

.chat-header {
    font-family: 'Karla', sans-serif;
    display: flex;
    flex: 0.1;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 70px;
}

.chat-header h3{
    color: #E8EAED;
    font-size: 20px;
    margin-left: 3px;
}

.chat-header svg{
    /*margin-left: 25px;*/
    font-size: 25px;
    /*color: #B1B1B1;*/
}

#chat-header-atLogo{
    margin-left: 25px;
    color: #B1B1B1;
}

.chat-header-userInfo{
    margin-left: 25px;
    flex: 0.96;
    display: flex;
    align-items: center;
}

.chat-header-userInfo span{
    margin-left: 15px;
    padding: 7px;
    border-radius: 7px;
    font-size: 13px;
    background-color: #1A1C21;
    color: #B1B1B1;
}

.chat-header button{
    color: #B1B1B1;
    padding: 10px;
    /*margin-left: 10px;*/
    border-radius: 15px;
}

.chat-header button:hover{
    color: #6798FF;
    background-color: rgba(177,177,177,0.3);
}

.chat-header-searchContainer{
    display: flex;
    align-items: center;
    min-height: 30px;
    margin-right: 60px;
    background-color: #1A1C21;
    width: 100%;
    height: 80%;
    border-radius: 10px 0px 0px 10px;
    /*border: 1px solid rgba(177, 177, 177, 0.4);*/
    border-right: none;
}

.chat-header-searchContainer:is(:hover, :focus-within, :active){
    /*background-color: rgba(177,177,177,0.1);*/
    background-color: #25272b;
    /*border: 1px solid rgba(103, 152, 255, 0.4);*/
    border-right: none;
}

.input-field {
    /*background-color: rgba(177,177,177,0.1);*/
    background-color: #25272b;
}

.chat-header-searchContainer input{
    font-family: 'Karla', sans-serif;
    outline: none;
    border: none;
    /*margin-left: 10px;*/
    height: 60%;
    color: #B1B1B1;
    min-height: 30px;
    background: none;
}

.chat-header-searchContainer svg{
    color: #B1B1B1;
    padding: 0.5vw;
    min-height: 10px;
    border-radius: 15px;
    /*font-size: 2.5vmin;*/
}

.chat-header-searchContainer svg:hover{
    color: #6798FF;
    /*background-color: rgba(177,177,177,0.3);*/
}

.chat-body {
    display: flex;
    flex: 0.8;
    scrollbar-gutter: stable;
    width: 100%;
    /*margin-left: 4%;*/
    /*flex-grow: 0;*/
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0.01162471824667366) 0%, rgba(21,22,24,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.01162471824667366) 0%, rgba(21,22,24,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,0.01162471824667366) 0%, rgba(21,22,24,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#151618",GradientType=1);
    border-radius: 0 0 30px 0;
}

.chat-body-messages{
    max-width: 96%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.chat-footer{
    display: flex;
    flex-direction: column;
    flex: 0.11;
    border-top: 1px solid rgba(177,177,177,0.1);
    align-items: center;
    justify-content: center;
}

.chat-footer-typingBoxContainer {
    align-self: center;
    display: flex;
    align-items: center;
    background-color: #1A1C21;
    width: 92%;
    height: 60%;
    border-radius: 10px;
}

.chat-footer-typingBoxContainer button{
    /*margin-left: 20px;*/
    margin-right: 10px;
    color: #B1B1B1;
    padding: 0.5vw;
    min-height: 10px;
    border-radius: 15px;
}

.chat-footer-typingBoxContainer button:hover{
    color: #6798FF;
}

.chat-footer-typingBoxContainer-sendButton{
    margin-left: 20px;
}

.chat-footer-typingBoxContainer input{
    flex: 1;
    width: 80%;
    overflow: auto;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    outline: none;
    border: none;
    /*margin-left: 10px;*/
    height: 90%;
    color: #B1B1B1;
    /*min-height: 30px;*/
    background: none;
}


